<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/ionicons.min.css">

<div class="row ">
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-green">
			<div class="inner">
				<h3 class="totalAssociates"><div class="lineLoader"></div></h3>
				<p>Total Associates</p>
			</div>
			<div class="icon">
				<i class="ion ion-ios-people"></i>
			</div>
		</div>
	</div><!-- ./col -->
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-red">
			<div class="inner">
				<h3 class="genderRatio"><div class="lineLoader"></div></h3>
				<p>Gender Ratio</p>
			</div>
			<div class="icon">
				<i class="ion-person-stalker"></i>
			</div>
		</div>
	</div><!-- ./col -->
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3 class="allocationPercent"><div class="lineLoader"></div></h3>
				<p>Allocated Associates</p>
			</div>
			<div class="icon">
				<i class="ion-android-person-add"></i>
			</div>
		</div>
	</div><!-- ./col -->
	<div class="col-lg-3 col-xs-6">
		<!-- small box -->
		<div class="small-box bg-yellow">
			<div class="inner">
				<h3>18</h3>
				<p>Stamped Visa Status</p>
			</div>
			<div class="icon">
				<i class="ion ion-document-text"></i>
			</div>
		</div>
	</div><!-- ./col -->	
</div>
<div class="graphSection">
	<div class="row">
		<div class="col-lg-6 graphSec">
			<div id="chart_div" class="chartShadow">
				<div class="preloader">&nbsp;</div>
			</div>
		</div>
		<div class="col-lg-6 graphSec" >
			<div id="chart_div_new" class="chartShadow">
				<div class="preloader">&nbsp;</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="../js/jquery-3.1.0.min.js"></script>
<script src="../js/getData.js"></script>

