<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="../js/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
			var jsonData = [
					   {
						  "Id":1,
						  "Title":"Work",
						  "Status":"11",
						  "ID":1
					   },
					   {
						  "Id":2,
						  "Title":"Eat",
						  "Status":"12",
						  "ID":2
					   },
					   {
						  "Id":3,
						  "Title":"Commute",
						  "Status":"2",
						  "ID":3
					   },
					   {
						  "Id":4,
						  "Title":"Watch TV",
						  "Status":"4",
						  "ID":4
					   },
					   {
						  "Id":5,
						  "Title":"Sleep",
						  "Status":"7",
						  "ID":5
					   }
					];
					
		console.log(jsonData);
		
		var data = new google.visualization.DataTable();

          data.addColumn('string', 'Title');
          data.addColumn('number', 'Status');

          $.each(jsonData, function (i, row) {
		    data.addRow([
              row.Title,
              parseInt(row.Status)
            ]);
          });
		  
		  console.log(data);
		  
        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
	  
	  

			
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
  </body>
</html>