<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">
</head>
<div class="bannerImg">
	<span><img src="../img/logo.png" width="100px" height="40px"></span>
	<span class="pull-right"><img src="../img/tcs-logo.png" width="130px" height="40px"></span>
	<div class="blackBox">
		<div class="sitename">The Dow Chemical Company - TCS</div>
		<div class="siteType">Relationship</div>
	</div>
</div>
<div id="">&nbsp;</div>
	
<nav class="navbar">						
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav myList">
		</ul>
	</div><!-- /.navbar-collapse -->			
</nav>
<div class="container-fluid">
	<!-- for side bar -->
	<div class="sidenav pull-left" id="sideMenuDiv">
		<ul class="nav sidebarList">
		</ul>
	</div>
	<!-- for events scroll -->
	<div class="sidenav pull-right" style="width:250px">
		<ul class="nav sidebarList">
			<li class="active" style="text-align:center"><a href="#" style="border-left:none">Events</a>
			</li>
		</ul>
		<marquee height="177" direction="up" scrollamount="3" style="width: 243px; height: 177px;">
			<ul class="nav sidebarList eventList">
			</ul>
		</marquee>
	</div>
</div>


<script src="../js/jquery-3.1.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/custom.js"></script>