<ul id="zz16_RootAspMenu" class="root ms-core-listMenu-root static">
	<li><a class="static selected menu-item ms-core-listMenu-item ms-displayInline ms-core-listMenu-selected ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Organisation Structure.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Organisation Structure</span><span class="ms-hidden">Currently selected</span></span></a>
	</li>
	<li><span class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Support teams</span></span>
		</span>
		<ul>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Mainframe.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Mainframe</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/EDI.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">EDI</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/SAP R2.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">SAP R2</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Microsoft.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Microsoft</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/SFDC.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">SFDC</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/PSFT.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">PSFT</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/NEA ECC.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">NEA ECC</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Mobility.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Mobility</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Lotus Notes.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Lotus Notes</span></span></a>
			</li>
		</ul>
	</li>
	<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Application Portfolio.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">  Application  Portfolio</span></span></a>
	</li>
	<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/SGA Continuous Improvement.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">SGA / Continuous Improvement</span></span></a>
	</li>
	<li><span class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">IQA / EQA</span></span>
		</span>
		<ul>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Audit Reports.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Audit Reports</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Compliance Status.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Compliance Status</span></span></a>
			</li>
		</ul>
	</li>
	<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/KEDB.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">KEDB</span></span></a>
	</li>
	<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/KIDB.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">KIDB</span></span></a>
	</li>
	<li><span class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Development Projects</span></span>
		</span>
		<ul>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/FTD -1.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">FTD -1</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/FTD -2.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">FTD -2</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/FTD -Gen 4.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">FTD -Gen 4</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Dow Solar.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Dow Solar</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Wave.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Wave</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/NEMT.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">NEMT</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Dow Agroscience Data Architecture.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Dow Agroscience Data Architecture</span></span></a>
			</li>
			<li><a class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/SitePages/Application Portfolio optimization.aspx"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Application Portfolio optimization</span></span></a>
			</li>
		</ul>
	</li>
	<li><span class="static menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode" tabindex="0"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Recent</span></span>
		</span>
		<ul>
			<li><a class="static ms-quicklaunch-dropNode menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode ms-droppable" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/Organisation structure/Forms/AllItems.aspx" dropid="8" aria-dropeffect="move"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Organisation structure</span></span></a>
			</li>
			<li><a class="static ms-quicklaunch-dropNode menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode ms-droppable" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/NEA ECC/Forms/AllItems.aspx" dropid="9" aria-dropeffect="move"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">NEA ECC</span></span></a>
			</li>
			<li><a class="static ms-quicklaunch-dropNode menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode ms-droppable" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/Mobility training Material/Forms/AllItems.aspx" dropid="10" aria-dropeffect="move"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">Mobility</span></span></a>
			</li>
			<li><a class="static ms-quicklaunch-dropNode menu-item ms-core-listMenu-item ms-displayInline ms-navedit-linkNode ms-droppable" tabindex="0" href="/relnsites/dowchem/dowchem1/application support/EDI/Forms/AllItems.aspx" dropid="11" aria-dropeffect="move"><span class="additional-background ms-navedit-flyoutArrow"><span class="menu-item-text">EDI</span></span></a>
			</li>
		</ul>
	</li>
	<li class="static ms-verticalAlignTop ms-listMenu-editLink ms-navedit-editArea"><span class="ms-navedit-editSpan" id="zz15_V4QuickLaunchMenu_NavMenu_Edit"><a id="zz15_V4QuickLaunchMenu_NavMenu_EditLinks" class="ms-navedit-editLinksText" href="#" onclick="g_QuickLaunchMenu = null; EnsureScriptParams('quicklaunch.js', 'QuickLaunchInitEditMode', 'zz15_V4QuickLaunchMenu', 2, 0, 1, 'sid:1025'); cancelDefault(event); return false;"><span class="ms-displayInlineBlock"><span class="ms-navedit-editLinksIconWrapper ms-verticalAlignMiddle"><img class="ms-navedit-editLinksIcon" src="/relnsites/dowchem/_catalogs/theme/Themed/BB1B820D/spcommon-B35BB0A9.themedpng?ctag=5"></span><span class="ms-metadata ms-verticalAlignMiddle">Edit Links</span></span>
		</a><span id="zz15_V4QuickLaunchMenu_NavMenu_Loading" class="ms-navedit-menuLoading ms-hide"><a id="zz15_V4QuickLaunchMenu_NavMenu_GearsLink" href="#" onclick="HideGears(); return false;" title="This animation indicates the operation is in progress. Click to remove this animated image."><img id="zz15_V4QuickLaunchMenu_NavMenu_GearsImage" src="/_layouts/15/images/loadingcirclests16.gif?rev=23"></a></span>
		<div id="zz15_V4QuickLaunchMenu_NavMenu_ErrorMsg" class="ms-navedit-errorMsg">

		</div>
		</span>
	</li>
</ul>