<head>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">-->
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/fontawesome.min.css">

</head>

<body>
	<div class="sidenav" id="sideMenuDiv">
		<ul class="nav sidebarList">
			<li class="active"><a href="#">Organisation Structure</a>
			</li>
			<li class="showSubmenu"><a href="#">Support teams<span class="fa fa-deaf"></span></a>
				<ul class="ulSubItems">
					<li><a href="#">test1</a>
					</li>
					<li><a href="#">test2</a>
					</li>
				</ul>
			</li>
			<li><a href="#">Application Portfolio</a>
			</li>
			<li><a href="#">SGA / Continuous Improvement</a>
			</li>
			<li><a href="#">IQA / EQA</a>
			</li>
			<li><a href="#">KEDB</a>
			</li>
			<li><a href="#">KIDB</a>
			</li>
			<li><a href="#">Development Projects</a>
			</li>
			<li><a href="#">Recent</a>
			</li>
		</ul>
	</div>
</body>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<script src="../js/jquery-3.1.0.min.js"></script>
<script src="../js/bootstrap.min.js"></script>